apiVersion: v1
baseDomain: clearwater.devops.gov.bc.ca
compute:
- hyperthreading: Enabled
  name: worker
  platform:
    azure:
      type: Standard_D8s_v3
      osDisk:
        diskSizeGB: 128 
  replicas: 3
controlPlane:
  hyperthreading: Enabled
  name: master
  platform:
    azure:
      type: Standard_D8s_v3
      osDisk:
        diskSizeGB: 128 
  replicas: 3
metadata:
  name: ocp4lab
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  azure:
    baseDomainResourceGroupName: ocp4lab-resources
    region: canadacentral
pullSecret: 'XXXXX'
sshKey: |+
  ssh-rsa XXXX
